@layer components {
  .input-label {
    @apply mb-2;
  }

  .text-input {
    --border-color: var(--color-black);

    @apply border border-solid border-(--border-color) rounded-xl w-full p-2;

    &.dark {
      --border-color: var(--color-gray-400);
    }
  }

  .button {
    --border-color: var(--color-gray-700);
    --background-color: var(--color-gray-700);
    --text-color: var(--color-white);

    @apply inline-block text-center border border-solid border-(--border-color) rounded-xl w-full bg-(--background-color) text-(--text-color) py-1 px-7 font-medium cursor-pointer;

    &:disabled {
      --border-color: var(--color-gray-300);
      --background-color: var(--color-gray-300);
      --text-color: var(--color-gray-500);

      @apply cursor-default;
    }

    &.outlined {
      --background-color: transparent;
      --border-color: var(--color-gray-700);
      --text-color: var(--color-black);
    }

    &.dark {
      --border-color: var(--color-gray-100);
      --background-color: var(--color-gray-100);
      --text-color: var(--color-black);

      &.outlined {
        --background-color: transparent;
        --border-color: var(--color-gray-100);
        --text-color: var(--color-white);
      }
    }
  }

  .admin-button {
    @apply text-[24px] leading-9 inline-flex items-center text-white border-0 rounded-lg font-medium py-3 w-auto;

    svg {
      @apply mr-2;
    }
  }
}
