@import "tailwindcss";

@theme inline {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Global styles */
@import "./styles/base.css";
@import "./styles/components.css";

/* Component styles */
@import "./styles/components/main-menu.css";
@import "./styles/components/text-input.css";

/* Page styles */
@import "./styles/pages/account.css";
